Source: libbmpfile-chipkit
Section: libraries
Priority: extra
XBSC-Group: Display
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libbmpfile-chipkit
Architecture: all
Depends: chipkit
Description: BMPFile library for chipkit

