Package: libbmpfile-chipkit
Version: 1.0.4
Architecture: all
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Installed-Size: 2174
Depends: chipkit
Section: libraries
Priority: extra
Description: BMPFile library for chipkit
Family: pic32
Group: Display
