changelog
libdisplaycore-core
libdisplaycore-driver-analogtouch
libdisplaycore-driver-framebuffer565
libdisplaycore-driver-picadillo
libdisplaycore-driver-vlcd
libdisplaycore-filters
libdisplaycore-font-arial
libdisplaycore-font-dejavusans
libdisplaycore-font-dejavusansmono
libdisplaycore-font-englibesh
libdisplaycore-font-hazard
libdisplaycore-font-kimberley
libdisplaycore-font-liberation
libdisplaycore-font-ocraextended
libdisplaycore-font-oldstandard
libdisplaycore-font-open24display
libdisplaycore-font-sheepsans
libdisplaycore-font-topaz
libdisplaycore-image-bmp
libdisplaycore-image-bmpfile
libdisplaycore-image-raw565
libdisplaycore-toolkit-widgets
*.debhelper.log
*.substvars

files
libdisplaycore-driver-ili9340
libdisplaycore-driver-st7735
libdisplaycore-driver-framebuffer332
libdisplaycore-driver-ssd1963-7
