Source: libdisplaycore
Section: libraries
Priority: extra
XBSC-Group: DisplayCore
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-core
Architecture: all
Depends: chipkit
Description: DisplayCore core files
 These are the main core files for the DisplayCore system. 
 All the other libraries rely on these files.

Package: libdisplaycore-driver-framebuffer332
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DisplayCore RGB332 Framebuffer
 The RGB332 Framebuffer is a virtual display / image driver
 which allows you to draw "off screen" then render the finished
 image to the screen at will.  RGB332 is an 8 bit colour format
 consisting of 3 bits of red, 3 bits of green, and 2 bits of blue.

Package: libdisplaycore-driver-framebuffer565
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DisplayCore RGB565 Framebuffer
 The RGB565 Framebuffer is a virtual display / image driver
 which allows you to draw "off screen" then render the finished
 image to the screen at will.

Package: libdisplaycore-driver-picadillo
Architecture: all
Depends: chipkit, libdisplaycore-core, libdisplaycore-driver-analogtouch
Description: Picadillo-35T driver for DisplayCore
 The DisplayCore driver for the Picadillo-35T board

Package: libdisplaycore-driver-vlcd
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: VirtualLCD Driver for DisplayCore
 Use UECIDE's VirtualLCD plugin as a display device for DisplayCore

Package: libdisplaycore-driver-lm6800
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: LM6800 driver for DisplayCore
 The LM6800 is a four-chip KS0108 based LCD with 2-to-4
 decoder for the chip select lines. A third chip select line
 acts as a global enable/disable line for the entire display.

Package: libdisplaycore-driver-st7735
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: ST7735 driver for DisplayCore
 The ST7735 is used by the Adafruit 1.8" TFT shields.

Package: libdisplaycore-driver-ssd1963-7
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: SSD1963 7" TFT
 Generic Chinese SSD1963 based TFT screen (800x480)

Package: libdisplaycore-driver-ili9340
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: ILI9340 driver for DisplayCore
 The ILI9340 is used by the Adafruit 2.2" TFT shields.

Package: libdisplaycore-driver-analogtouch
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Analog Resistive Touchscreen driver for DisplayCore
 Utilizes the internal ADC of the PIC32 to interface with a standard
 4-wire resistive touch panel.

Package: libdisplaycore-image-bmp
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DisplayCore BMP Flash renderer
 Display a BMP file stored in internal Flash

Package: libdisplaycore-image-bmpfile
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DisplayCore BMP File renderer
 Display a BMP file stored on SD card

Package: libdisplaycore-image-raw565
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DisplayCore RGB565 Flash renderer
 Display a raw RGB565 file stored in internal Flash

Package: libdisplaycore-filters
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DisplayCore Image Filters
 A selection of Image Filters

Package: libdisplaycore-font-arial
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Arial font for DisplayCore
 The classic Arial font

Package: libdisplaycore-font-dejavusans
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: DejaVuSans font for DisplayCore
 DejaVuSans font from Linux

Package: libdisplaycore-font-dejavusansmono
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Monospaced DejaVuSans font for DisplayCore
 DejaVuSans-Mono font from Linux

Package: libdisplaycore-font-englibesh
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: EngliBesh font for DisplayCore
 This font is an English version of the Star Wars alphabet known as
 "Aurebesh" or "Aurek-Besh". After doing research for my Galactic Basic
 font, I noticed several similarities between the English alphabet and
 Aurebesh. I figured this font would be a good way to spice up good ole
 English with a touch of Star Wars. This font might be useful for
 someone making a fanfilm who wants to give their text that Aurebesh
 look but still have readable English. 

Package: libdisplaycore-font-hazard
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Hazard symbols font for DisplayCore
 A selection of hazard and other symbols for DisplayCore

Package: libdisplaycore-font-kimberley
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Kimberley font for DisplayCore
 Kimberley font for DisplayCore

Package: libdisplaycore-font-liberation
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Liberation font for DisplayCore
 Liberation is a 2 bit-per-pixel font for DisplayCore

Package: libdisplaycore-font-ocraextended
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: OCR A Extended font for DisplayCore
 The classic OCR A Optical Character Recognition font for DisplayCore

Package: libdisplaycore-font-oldstandard
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: OldStandard font for DisplayCore
 OldStandard is a serif typeface for DisplayCore

Package: libdisplaycore-font-open24display
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Open24Display font for DisplayCore
 Simple 7-segment display font for DisplayCore

Package: libdisplaycore-font-sheepsans
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: SheepSans font for DisplayCore
 SheepSans font for DisplayCore

Package: libdisplaycore-font-topaz
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Topaz font for DisplayCore
 Topaz is famous for being the main default font on the Commodore
 Amiga computers.  Only in size 8.

Package: libdisplaycore-toolkit-widgets
Architecture: all
Depends: chipkit, libdisplaycore-core
Description: Simple Widget toolkit library for DisplayCore
 Allows direct drawing of simple buttons and horizontal scales.
